/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

/* Import Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic|Inconsolata:400,700);

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  color: #C0C0C0;
  font-size: 16px;
  text-align: center;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #C0C0C0;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

p {
  margin: 20px 5px 20px 5px;
}

a {
  color: #3366CC;
}

a:visited {
  color: #a0a;
}

a:hover {
  color: white;
}


table {
  font-size: inherit;
  font: 100%;
  border: 1px solid white;
  border-collapse:collapse;
}

table th, td {
    border: 1px solid white;
    padding: 5px;
}

ul, ol {
  margin: 15px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  font-family: 'Inconsolata', "Lucida Console", Monaco, monospace;
  font-size: 16px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Verdana;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  color: #C0C0C0;
  text-align: justify;
  width: 960px;
  margin: 30px auto 30px auto;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: white;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: white;
  }

  .site .meta {
    color: #aaa;
  }

  .site footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site footer .contact a {
        color: #8085C1;
      }

    .site footer .credit {
        margin-right: 3em;
        clear: both;
    }
    
    .site footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 15px;
  }

  #post ul,
  #post ol {
    margin: 15px 30px 15px 30px;
  }

  #post code {    
    background-color: black;
    color: white;
    font-weight: bold;
  }

    #post pre code {
      font-weight: normal;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }