---
layout: default
title: Alfredo Ramirez - Computer Science Tutoring
---

<div id="home">
    
    <!-- Lesson Posts -->
    <h1>Lessons</h1>
    <ul class="posts">
    {% for post in site.posts %}
        {% if post.category == 'lesson' %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
  
    <!-- Lab Posts -->
    <h1>Labs</h1>
    <ul class="posts">
    {% for post in site.posts %}
        {% if post.category == 'lab' %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    
    <!-- Homework Posts -->
    <h1>Homework</h1>
    <ul class="posts">
    {% for post in site.posts %}
        {% if post.category == 'homework' %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <!-- Cool Stuff -->
    <h1>Cool Stuff</h1>
    <p>
        Here are links to some cool things I figure you may like or find interesting that are 
        related to the topics we cover.
    </p>
    <ul>
        <li>
            Check out this 
            <a href="http://www.amazon.com/Hackers-Heroes-Computer-Revolution-Anniversary/dp/1449388396/ref=sr_1_1?s=books&ie=UTF8&qid=1360682010&sr=1-1&keywords=hackers+heroes">
                book
            </a> on the 'Hacker Ethic'. A seminal work by Steven Levy.
        </li>
        <li>
            For another interesting (and shorter) perspective on 'ethical hacking', check out this 
            <a href="http://www.forbes.com/sites/parmyolson/2012/07/31/exploding-the-myth-of-the-ethical-hacker/">
                Forbes Article.
            </a>
        </li>
        <li>
            Bill Gates did an AMA on 
            <a href="http://www.reddit.com/r/IAmA/comments/18bhme/im_bill_gates_cochair_of_the_bill_melinda_gates/">
                Reddit
            </a>. For the record, I don't like Reddit.
        </li>
    </ul>

</div>
